<font color='blue'> First of all, please “Copy to Drive” to get your own copy for editing. </font>

<font color='red'> Run all the cells. For places with "Complete the codes below", please replace the "XXX" placeholder with your own codes.</font>

# Data Structures: Lists and Tuples

Python's data structures are simple but powerful. Mastering their use is a critical part of becoming a proficient Python programmer.

We start with list, tuple (and dictionary soon), which are some of the most frequently used sequence types.

![data structure](images/data_structure.png)

* *You can use curly braces to define a set like this: {1, 2, 3}. However, if you leave the curly braces empty like this: {} Python will instead create an empty dictionary. So to create an empty set, use set().
* **A dictionary itself is mutable, but each of its individual keys must be immutable.

## Lists

**How to create a list**
* list_name = [item1, item2, ...]

**How to get items from a list**
* use indexes within **brackets**

* A *list* contains a collection of *items*.
* To refer to the items in a list, you use an *index* where 0 refers to the first item, 1 refers to the second item, and so on.
* You can also use negative values for an index where -1 refers to the last item in the list, -2 refers to the second to last item, and so on.
* You can use the *repetition operator* to repeat the items in a list. This can be a good way to set the items in a new list to default values.

In [ ]:
mylist = [] # an empty list

In [ ]:
months = ["January", "February", "March", "April"]
print(months)

**Summary Table**: Python Sequence (List, Tuple, String) Operations

![Python sequence operations](images/sequence_operations.png)

In [ ]:
# indexing
months[3]

In [ ]:
months[0:1] # slicing

In [ ]:
len(months)

In [ ]:
# membership operators: in, not in
"January" in months

In [ ]:
# membership operators: in, not in
"J" not in months

In [ ]:
num = [2, 4, 6, 7]
num

In [ ]:
# indexing
num[1]

In [ ]:
# indexing
num[-1]

In [ ]:
# repetition
num*3

In [ ]:
# length
len(num)

### How to concatenate lists

In [ ]:
# How to concatenate two lists with the + and += operators

inventory = ["staff", "robe"]
chest = ["scroll", "pestle"]
combined = inventory + chest        # ["staff", "robe", "scroll", "pestle"]
print(inventory)                    # ["staff", "robe"]
inventory += chest                  # ["staff", "robe", "scroll", "pestle"]
print(inventory)                    # ["staff", "robe", "scroll", "pestle"]

### How to slice a list

In [ ]:
# The syntax for slicing a list: mylist[start:end:step]

# Code that slices with the start and end arguments
numbers = [52, 54, 56, 58, 60, 62]
numbers[0:2]		# [52, 54]
numbers[:2]		# [52, 54]
numbers[4:]		# [60, 62]
# Code that slices with the step argument

numbers[0:4:2]	# [52, 56]
numbers[::-1]	# [62, 60, 58, 56, 54, 52]

In [ ]:
numbers = [52, 54, 56, 58, 60, 62]
numbers[::-1] # same as: numbers[5::-1]

In [ ]:
numbers[5::-1]

In [ ]:
numbers = [52, 54, 56, 58, 60, 62]
numbers[:2:-1] # same as: numbers[5:2:-1]

In [ ]:
numbers[5:2:-1]

In [ ]:
numbers[:4:-1] # same as: numbers[5:4:-1]

### Looping item through list

In [ ]:
# What happens? You are updating the value for a variable --item-- each iteration
## 1st iteration: item = inventory1[0] = "staff"
## 2nd iteration: item = inventory1[1] = "hat"
## ......
## last iteration: item = inventory1[4] = "bread"
inventory1 = ["staff", "hat", "robe", "shoes", "bread"]
for item in inventory1:
  print(item)

In [ ]:
# check again, can you understand it?
print(item)

Three ways to get a counter value when processing the items in a list:

In [ ]:
inventory = ["staff", "hat", "bread", "potion"]

# Using a counter variable
i = 1
for item in inventory:
    print(f"{i}. {item}")
    i += 1

In [ ]:
# What happens? You are updating i and item each iteration
## 1st iteration: i = 0, item = inventory1[i] = "staff"
## 2nd iteration: i = 1, item = inventory1[i] = "hat"
## ......
## last iteration: i = 3, item = inventory1[i] = "potion"

# Using the value returned by the range() function
for i in range(len(inventory)):
    item = inventory[i]
    print(f"{i + 1}. {item}")

In [ ]:
# Using the value returned by the enumerate() function

for i, item in enumerate(inventory, start=1):
    print(f"{i}. {item}")

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [ ]:
# How to process the items in a list
# With a for loop
scores = [90, 93, 89, 100]
total = 0
for score in XXX:
  total += score

print(XXX)  # Your output should be 372

In [ ]:
# How to process the items in a list
# With a while loop
my_scores = [90, 93, 89, 100]
my_total = 0
i = 0
while i < len(my_scores):
  my_total += my_scores[i]
  i += 1
print(my_total)

**Exercise**:

In [ ]:
def getNumbers():
    nums = []     # start with an empty list

    # loop to get numbers
    xStr = input("Enter a number (<Enter> to quit) >> ")
    while xStr != "":
        x = float(xStr)
        nums.append(x)   # add this value to the list
        xStr = input("Enter a number (<Enter> to quit) >> ")
    return nums

In [ ]:
# [14.5, 11.3, 100.0, 45.1]
mynums = getNumbers()

In [ ]:
print(mynums)

In [ ]:
# Please find max, min, sum of mynums
# and print them out
maxium = max(mynums)
minium = min(mynums)
total = sum(mynums)

print("Max:", maxium)
print("Min:", minium)
print("Sum:", total)

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [ ]:
# Please use the "for loop ---looping item through list" to get total
# then calculate the mean/average of mynums
# average = (14.5 + 11.3 +100.0 + 45.1)/len(mynums)
# print out the mean/average
mynums = [14.5, 11.3, 100.0, 45.1]
total = 0
for XXX in XXX:
  total += num

average = total/len(mynums)
print(average)

In [ ]:
# Alternatively, use len() function to get the length of the list
# then use for loop with range() function
total = 0
for XXX in range(len(mynums)):
  total += mynums[i]

average = total/len(mynums)
print(average)

### Lists are **mutable**

* One mutable type
    - list

* Some immutable types
    - string
    - tuple
    - int
    - float
    - bool

In [ ]:
num = [1,2,3,4,5]
num[3] = 9    # Lists are mutable. No error
num

In [ ]:
tupnum = (1,2,3,4,5)
tupnum[3] = 9    # Tuples are not mutable, so you get TypeError
tupnum

In [ ]:
str2 = "Welcome"
str2[5] = 'p'   # Strings are not mutable, so you get TypeError


#### The deepcopy() function of the copy module
   - deepcopy(list)

In [ ]:
# How to make a shallow copy of a list
list_one = [1, 2, 3, 4, 5]
list_two = list_one
list_two[1] = 9
print(list_one)		# [1, 9, 3, 4, 5]
print(list_two)		# [1, 9, 3, 4, 5]

In [ ]:
# is and is not operators can check whether two variables are bound to the same object
print(list_one is list_two)

In [ ]:
# How to make a deep copy of a list
import copy

list_three = [1, 2, 3, 4, 5]
list_four = copy.deepcopy(list_one)
list_four[1] = 9
print(list_three)		# [1, 2, 3, 4, 5]
print(list_four)		# [1, 9, 3, 4, 5]

In [ ]:
# is and is not operators can check whether two variables are bound to the same object
print(list_three is list_four)

In [ ]:
# is and is not operators can check whether two variables are bound to the same object
print(list_three is not list_four)

In [ ]:
import copy
list_copy= copy.deepcopy(list_one)

In [ ]:
from copy import deepcopy
list_copy2 = deepcopy(list_one)

### Some list methods
* You can use the list methods to add and remove the items in a list
* `append()`, `insert()`, `remove()`, `index()`, `pop()`

![](images/modifying_list.png)

In [ ]:
# How to use the append(), insert(), and remove() method
stats = [48.0, 30.5, 20.2, 100.0]

stats
#stats.append(99.5)
#print(stats)

In [ ]:
newi = 99.5
stats.append(newi)
stats

<font color='blue'> `.append()` is commonly used.

In [ ]:
# create an empty list
newlist = []

# append a new item in the list
newitem = input("Enter a new item: ") # e.g., "item1"
newlist.append(newitem)

# display the updated list
newlist

In [ ]:
stats.insert(3, 28.1)
print(stats)

In [ ]:
stats.remove(20.2)
print(stats)

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [ ]:
my_sales = [99, 123, 89, 105]

# Please append "93" at the end of this list
XXX

# Please insert "110" after "99" in this list (which index value?)
XXX

# Please remove "89"
XXX

# Finally, please print this list
XXX

How to use the count(), reverse(), and sort() methods:

In [ ]:
numlist = [5, 15, 84, 3, 14, 2, 8, 10, 14, 25]
count = numlist.count(14)
print(count)

In [ ]:
numlist.reverse()
print(numlist)

In [ ]:
numlist.sort()
print(numlist)

In [ ]:
def median(nums):
    nums.sort()                 # sort the list
    size = len(nums)
    midPos = size // 2
    if size % 2 == 0:
        med = (nums[midPos] + nums[midPos-1]) / 2.0
    else:
        med = nums[midPos]
    return med

In [ ]:
mynums = [14.5, 11.3, 100.0, 45.1]
med = median(mynums)
print(f"The median of {mynums} is {med}!")

# What if we want the output to be the order of original list?
# The median of [14.5, 11.3, 100.0, 45.1 ] is 29.8!
# Can you fix this?

### How to work with a list of lists
* You can create a *list of lists* by storing a list in each item of another list.
* Since this lets you stor data in two dimensions that you can think of as *rows* and *columns".
* A list of lists is also referred to as a *two-dimensional list*.

How to define a list of lists with 3 rows and 3 columns:

In [ ]:
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

How to add to a list of lists:

In [ ]:
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brain", 1979, 12.30]]
# Create movie list
movie = ["The Meaning of Life", 1983, 7.5]

# Add movie list to movies list
movies.append(movie)

How to access the items in the list of movies:

In [ ]:
movies[0][0]

<font color='red'>Complete the codes in the cell below. Please replace the "XXX" placeholder with your own codes. </font>

In [ ]:
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 85]]

# Please print Anne's 1st grade "95" by accessing the items in the list of students
XXX

How to loop through the rows and columns of a two-dimensional list:

In [ ]:
for movie in movies:
  for item in movie:
    print(item, end=" | ")
  print()

## Tuples


* A **tuple** looks like a list except that it is enclosed in round parentheses() instead of square brackets \[ \].

* **Tuples are immutable**. After a tuple has been created, you **can't** add, remove, or set items.


### How to create a tuple
* tuple_name = (item1, item2, ...)

### How to get items from a tuple
* use indexes within **brackets**

In [ ]:
# code that creates tuples
## a tuple of 5 floating-point numbers
stats = (48.0, 30.5, 20.2, 100.0, 48.0)

* To access the items in a tuple, you use indexes within brackets, just as you do for the items in a list.

In [ ]:
# using index to access the item in a tuple
stats[0]

In [ ]:
stats[-1]

In [ ]:
stats[0:3] #slicing

* You can **unpack** the values of a tuple into multiple variables by *using a multiple assignment statement*.
* When a tuple of variables is used on the left side of an assignment, the corresponding components of the tuple on the right side are unpacked into the variables on the left side. In fact, this is how Python actually implements all simultaneous assignments.

In [ ]:
# code that unpacks a tuple
tuple_values = (1, 2, 3)
a, b, c = tuple_values
print(a)

The parentheses are **optional** when defining tuples, and programmers frequently omit them if parentheses don’t clarify the code.

In [ ]:
# location_a and location_b are the same:
location_a = (13.4125, 103.866667)
location_b = 13.4125, 103.866667   # parentheses omitted

print(location_b)

In [ ]:
location_b

Because tuples are **immutable**, they are more efficient than lists.

As a result, you should use a tuple whenever you know the items won't be changed.

In [ ]:
# Tuples are immutable
tupnum = (1,2,3,4,5)
tupnum[3] = 9    # Tuples are not mutable, so you get TypeError
tupnum